<div>
    <input [(ngModel)]="nombre" placeholder="Nombre del Doctor">
    <input [(ngModel)]="email" placeholder="Email del Doctor">
    <button (click)="agregarDoctor()">Agregar Doctor</button>
  </div>
  
